
@media only screen and (max-width: 951px) {

}

@media only screen and (min-width: 951px) {

	.categoryContainer{
		border: solid; 
		background-color: #F3EBF6; 
		width: 70%; 
		padding: 20px; 
		margin: 3em auto; 
		border-radius: 1.5em;
	}


	.back-category{
		display: grid; 
		grid-template-columns: 100px auto auto; 
		margin: 0px;
	}

	.col-category {
		height: 200px;
		padding: 20px;
		display: grid;
		row-gap: 5px;
	}

	.divider {
	    margin-left: 5px; 
	    margin-right: 5px; 
	    height: 90%; 
	    width: 1px; 
	    background-color: grey;
	}
}