#foodIMG {
	max-width: 500px;
	max-height: 500px;
	border-radius: 10px;
	position: absolute;
	padding-right: 20px;
  	top: 50%;
  	transform: translate(-50%,-50%);
}

#backLink {
	padding: 50px;
	margin: ;
	color: black;
}

#foodDetailsDiv {
	margin: 50px;
	height: 75%;
}

#foodDetails {
	width: 100%;
	height: 500px;
	padding: 20px;
	background-color: #f5f5f5;
	text-align: left;
	border-radius: 20px;
}

#foodName {
	font-weight: bold;
}

#foodEverything {
	padding-top: 20px;
}