#idIMG {
	max-width: 500px;
	max-height: 500px;
}

#backLink {
	padding: 50px;
	margin: ;
	color: black;
}

#ingredientDetailsDiv {
	margin: 50px;
	width: 75%;
	height: 75%;
}

#ingredientDetails {
	
}