/*-----------------------------------------*/
.viewUsers{
  display: flex;
}
.input-radio {

}

table {
    table-layout: fixed;
    width: 100%;   
}

th,td {
/*    border-style: solid;*/
/*    border-width: 1px;*/
/*    border-color: #BCBCBC;*/
/*border-left: 1px;*/
    word-wrap: break-word;
    /*display: flex;
    align-items: center;*/
}
/*-----------Create User Page-----------*/
.createUser {
  background-color: #F3EBF6;
  width: 650px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.createInput { 
  width: 50%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
/*  margin-left: 46px;*/
  margin-bottom: 27px;
  /*font-family: 'Ubuntu', sans-serif;*/
}

.dropdownUserType {

    width: 50%;
    padding: .375rem 2.25rem .375rem .75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 27px;
    border-radius: .375rem;
}
.submitUser {
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
/*  margin-left: 35%;*/
/*  font-size: 13px;*/
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

/*-----------Create Profile Page-----------*/
.createProfile {
  background-color: #F3EBF6;
  width: 650px;
  height: 610px;
  margin: 3em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.submitUser {
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
/*  margin-bottom: 5%;*/
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

/*-----------View User details-----------*/
.userDetails {
/*  border: 1px solid black;*/
/*  background-color: #fff;*/
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 4rem;
  margin-top: 0.35rem;
  /*margin-left: 5rem;
  margin-right: 5rem;*/

}


.dl-viewUserDetails {
  display: flex; 
  padding-top: 5px;
/*  border: 1px solid black;*/
}

.dt-label {
  margin-bottom: .5rem;
}
.dd-left {
  display: block;
  width: 80%;
  height: 36px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  background-color: #ffff;
  background-clip: padding-box;

  appearance: none;
  border: 2px solid black;
  border-radius: .375rem;
/*  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out*/
}
.dd-right {
  display: block;
    width: 70%;
    height: 36px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    background-color: #ffff;
    background-clip: padding-box;

    appearance: none;
    border: 2px solid black;
    border-radius: .375rem;
/*    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out*/
}


/*-----------------------------------------*/