body {
  background-color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  top: 50px;
}

/*-------Home Screen--------*/

.split-screen {
    display: flex;
}

.left_side {
    flex: 1;
    margin: auto;
    background-color: black;
    padding: 10px;
    width: 50%;
    color: white;
    height: 562px;
    display: flex;
    align-items: center;
}

.right_side {
    flex: 1;
}

#home_links{
  width: 150px;
}

/*-------END--------*/

/*-------Messages Screen--------*/

#inbox_side {
  margin-left: 20px;
    background-color: #e6e3e3;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    height: 825%;
}

#messages_side {
  margin-left: 20px;
  margin-right: 10px;
    background-color: #e6e3e3;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    height: 825%;
}

#messagesDiv {
  width: 1000%;
}


.email {
    padding: 20px 10px 15px 10px;
  font-size: 1em;
}

.email h2 {
  margin-top: 0;
  padding-bottom: 8px;
}

.email .nav.nav-pills > li > a > .fa {
  margin-right: 5px;
}

.email .nav.nav-pills > li.active > a {
  font-weight: 600;
}

.email .nav.nav-pills.nav-stacked > li > a {
  color: #666;
  border-top: 0;
  border-left: 3px solid transparent;
  border-radius: 0px;
}

.email .nav.nav-pills.nav-stacked > li.active > a,
.email .nav.nav-pills.nav-stacked > li.active > a:hover {
  background-color: #f6f6f6;
  border-left-color: #3c8dbc;
  color: #444;
}

.email .nav.nav-pills.nav-stacked > li.header {
  color: #777;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0 10px 0;
}


.email table {
  font-weight: 600;
}

.email table a {
  color: #666;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.box {
  text-align: center;
}
.button {
  font-size: 1em;
  padding: 15px 35px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #403e3d;
  border-radius: 50px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.wrapper {
  margin: 70px auto;
  padding: 20px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}
.wrapper h2 {
  margin-top: 0;
  color: #333;
}
.wrapper .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.wrapper .close:hover {
  color: #06D85F;
}

.wrapper .content {
  max-height: 30%;
  overflow: auto;
}
/*form*/

.container {
  border-radius: 5px;
  padding: 20px 0;
}
form label {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}
#messageInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#messageSubmit {
  background-color: #413b3b;
  color: #fff;
  padding: 15px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*--------------Divider-------------*/
.vertical {
      border-left: 6px solid blue;
      height: 200px;
      position:absolute;
      left: 50%;
}
/*----------------------------------*/

/*--Create Ingredient Submit Button--*/
.submitIngredient {
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  width: 200px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
/*  margin-bottom: 5%;*/
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
/*-----------------------------------*/


.overlay-userDetails {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F3EBF6;
  background-color: rgba(243,235,246, 0.5);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content-userDetails {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-userDetails a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay-userDetails > a:hover {
  color: #e166ff;
}

.btn-container a:hover, .btn-container a:focus {
  color: #fff;
  background-color: #e9baf5;
}

.overlay-userDetails .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay-userDetails {overflow-y: auto;}
  .overlay-userDetails a {font-size: 20px}
  .overlay-userDetails .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}